<!DOCTYPE html>
<html>

<head>

	<!--引入js-->
	<script src='https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.js'></script>
	<script type="text/javascript" src="./js/china.js"></script>
	<script type="text/javascript" src="./js/world.js"></script>
	<script src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/vue.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>setTimeout(function(){location.href="index3.html"},900000);</script>
	<meta charset="utf-8" />
	<title></title>
</head>

<body>
	<div id='app'>
		<div class='content'>
			<div class='left_content'>
				<div class='left_content1'>
					<span style='display:block;margin-top:20px'>公司总人数</span></br>
					<span>{{companyCount}}</span>
					
				</div>
				<div class='left_content2'>
					<span style='display:block;margin-top:20px'>参训人数覆盖率</span></br>
					<span>{{newJoinCount}}%</span>
				</div>
				<div class='left_content3'>
					<span style='display:block;margin-top:20px'>新员工已参训人数</span></br>
					<span>{{trainCount}}</span>
				</div>
				<div class='left_content4'>
					<div id="mainworld" style="width:400px;height:200px"></div>
				</div>
			</div>

			<div class='center_content'>
				<div class='center_map'>
					<div id="main" style="width:600px;height:400px"></div>
				</div>

				<div class='center_content2' v-if='isshow'>
					<div class='scroll_1'>
						<div class='scroll_title'>{{title1}}</div>
						<div class="box">
							<div id="transverseRoll">
								<div class="contentscroll" v-for='(item,index) in scrollList1' :key='index' >
									<span style="color:#FF0000">{{item.className}}</span>
								</div>
						</div>
						</div>
					</div>

					<div class='scroll_2'>
						<div class='scroll_title'>{{title2}}</div>
						<div class="box">
							<div id="transverseRoll2">
								<div class="contentscroll" v-for='(item,index) in scrollList2' :key='index'>
									<span style="color:#FF0000">{{item.className}}</span>
								</div>
						</div>
						</div>
					</div>
				</div>
			</div>

			<div class='right_content'>
				<div class='right_1'>
					<div id="mainpie" style="width:400px;height:200px"></div>
				</div>
				<div class='right_2'>
					<div id="mainbar" style="width:400px;height:200px"></div>
				</div>
				<div class='right_3'>
					<p class='right_3_title'>课程种类分布情况</p>
					<div class='right_3_center'>

						<div class='one'>
							<span>领导力</span></br>
							<span>{{num1}}</span>

						</div>

						<div class='two'>
							<span>专业技能</span></br>
							<span>{{num2}}</span>
						</div>


						<div class='three'>
							<span>综合定制</span></br>
							<span>{{num3}}</span>
						</div>

					</div>
					<div class='right_3_bottom'>

						<div class='four'>
							<span>通用技能</span></br>
							<span>{{num4}}</span>
						</div>


						<div class='five'>
							<span>新员工</span></br>
							<span>{{num5}}</span>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>

	var app = new Vue({
		el: '#app',
		data: {
			trainCount:'',
			companyCount:'',
			newJoinCount:'',
			scrollList1:[
				{className:'课程详情'},
				{className:'课程详情'},
			],
			scrollList2:[
			{className:'课程详情'},
			{className:'课程详情'},
		],
			title1:'当前省份',
			title2:'当前省份',
			num1:'',
			num2:'',
			num3:'',
			num4:'',
			num5:'',
			isshow:true,
			timer:null,
			timer1:null,
			_timer:null,
			_timer1:null,
		},
		created() {
		},
		mounted() {
			this.getdata()

		},
		methods: {
			drowbar(x,y) {
				var myChartbar = echarts.init(document.getElementById('mainbar'));
				optionbar = {
					title: {
						text: '覆盖人次增长率',
						left: 'center'
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							crossStyle: {
								color: '#999'
							}
						},
						formatter: '{b0}<br /> {a0}:{c0}%'
					},
					grid: {
						left: '60',
						top:'40',
						right: '50',
						bottom: '60'
					},

					xAxis: [
						{
							type: 'category',
							data: x,
							axisPointer: {
								type: 'shadow'
							},
							axisLabel: {  
								interval:0,  
								rotate:40  
							 } 
						}
					],
					yAxis: [
						{
							type: 'value',
							name: '',
							min: 0,
							max: 100,
							interval: 20,
							axisLabel: {
								formatter: '{value}%'
							}
						},
						{
							type: 'value',
							name: '',
							min: 0,
							max: 25,
							interval: 0,

						}
					],
					series: [

						{
							name: '覆盖人次增长率',
							type: 'line',
							data: y.map(function (value,index,arr) {  
								return value*100
							}),
						}
					]
				};
				myChartbar.setOption(optionbar)
			},
			drowpie(x,y) {
				var myChartpie = echarts.init(document.getElementById('mainpie'));
				// 多系列无法定位

				var colors = [{
					type: 'linear',
					x: 0, x2: 1, y: 0, y2: 0,
					colorStops: [{
						offset: 0,
						color: '#27f7fa'
					}, {
						offset: 0.5,
						color: '#27f7fa'
					}, {
						offset: 0.5,
						color: '#23c3e2dd'
					}, {
						offset: 1,
						color: '#23c3e2dd'
					}]
				}, {
					type: 'linear',
					x: 0, x2: 1, y: 0, y2: 0,
					colorStops: [{
						offset: 0,
						color: '#7153d3aa'
					}, {
						offset: 0.5,
						color: '#7153d3aa'
					}, {
						offset: 0.5,
						color: '#352a6b'
					}, {
						offset: 1,
						color: '#352a6b'
					}]
				}];


				var barWidth = 30;

				optionpie = {
					title: {
						text: '覆盖人次增长率',
						left: 'center'
					},
					grid: {
						left: '60',
						top:'40',
						right: '50',
						bottom: '40'
					},
					xAxis: {
						data:x,
						axisLabel: {  
							interval:0,  
								 
						 },
					},
					yAxis: {
						axisLabel: {
							formatter: '{value}%',
							color: '#000',
							textStyle: {
								fontSize: 12
							},
						},
					},
					series: [{
						z: 1,
						type: 'bar',
						barWidth: barWidth,
						data:y.map(function (value,index,arr) {  
							return value*100
						}),
						itemStyle: {
							normal: {
								color: colors[1]
							}
						},
					}, {
						z: 2,
						name: '底部',
						type: 'pictorialBar',
						data: [1, 1, 1, 1, 1, 1, 1],
						symbol: 'diamond',
						symbolOffset: [0, '50%'],
						symbolSize: [barWidth, 10],
						itemStyle: {
							normal: {
								color: colors[1]
							}
						},
					}, {
						z: 3,
						name: '上部1',
						type: 'pictorialBar',
						symbolPosition: 'end',
						data: y.map(function (value,index,arr) {  
							return value*100
						}),
						symbol: 'diamond',
						symbolOffset: [0, '-50%'],
						symbolSize: [barWidth - 4, 10 * (barWidth - 4) / barWidth],
						itemStyle: {
							normal: {
								borderColor: '#7153d3',
								borderWidth: 2,
								color: '#352a6b'
							}
						},
					}]
				};
				myChartpie.setOption(optionpie);
			},
			drowMapworld(worlddata) {
				var myChartworld = echarts.init(document.getElementById('mainworld'));
				var data = worlddata
				
				var dataToEn = {
					"Canada": "加拿大",
					"Turkmenistan": "土库曼斯坦",
					"Saint Helena": "圣赫勒拿",
					"Lao PDR": "老挝",
					"Lithuania": "立陶宛",
					"Cambodia": "柬埔寨",
					"Ethiopia": "埃塞俄比亚",
					"Faeroe Is.": "法罗群岛",
					"Swaziland": "斯威士兰",
					"Palestine": "巴勒斯坦",
					"Belize": "伯利兹",
					"Argentina": "阿根廷",
					"Bolivia": "玻利维亚",
					"Cameroon": "喀麦隆",
					"Burkina Faso": "布基纳法索",
					"Aland": "奥兰群岛",
					"Bahrain": "巴林",
					"Saudi Arabia": "沙特阿拉伯",
					"Fr. Polynesia": "法属波利尼西亚",
					"Cape Verde": "佛得角",
					"W. Sahara": "西撒哈拉",
					"Slovenia": "斯洛文尼亚",
					"Guatemala": "危地马拉",
					"Guinea": "几内亚",
					"Dem. Rep. Congo": "刚果（金）",
					"Germany": "德国",
					"Spain": "西班牙",
					"Liberia": "利比里亚",
					"Netherlands": "荷兰",
					"Jamaica": "牙买加",
					"Solomon Is.": "所罗门群岛",
					"Oman": "阿曼",
					"Tanzania": "坦桑尼亚",
					"Costa Rica": "哥斯达黎加",
					"Isle of Man": "曼岛",
					"Gabon": "加蓬",
					"Niue": "纽埃",
					"Bahamas": "巴哈马",
					"New Zealand": "新西兰",
					"Yemen": "也门",
					"Jersey": "泽西岛",
					"Pakistan": "巴基斯坦",
					"Albania": "阿尔巴尼亚",
					"Samoa": "萨摩亚",
					"Czech Rep.": "捷克",
					"United Arab Emirates": "阿拉伯联合酋长国",
					"Guam": "关岛",
					"India": "印度",
					"Azerbaijan": "阿塞拜疆",
					"N. Mariana Is.": "北马里亚纳群岛",
					"Lesotho": "莱索托",
					"Kenya": "肯尼亚",
					"Tajikistan": "塔吉克斯坦",
					"Turkey": "土耳其",
					"Afghanistan": "阿富汗",
					"Bangladesh": "孟加拉国",
					"Mauritania": "毛里塔尼亚",
					"Dem. Rep. Korea": "朝鲜",
					"Saint Lucia": "圣卢西亚",
					"Br. Indian Ocean Ter.": "英属印度洋领地",
					"Mongolia": "蒙古",
					"France": "法国",
					"Cura?ao": "库拉索岛",
					"S. Sudan": "南苏丹",
					"Rwanda": "卢旺达",
					"Slovakia": "斯洛伐克",
					"Somalia": "索马里",
					"Peru": "秘鲁",
					"Vanuatu": "瓦努阿图",
					"Norway": "挪威",
					"Malawi": "马拉维",
					"Benin": "贝宁",
					"St. Vin. and Gren.": "圣文森特和格林纳丁斯",
					"Korea": "韩国",
					"Singapore": "新加坡",
					"Montenegro": "黑山共和国",
					"Cayman Is.": "开曼群岛",
					"Togo": "多哥",
					"China": "中国",
					"Heard I. and McDonald Is.": "赫德岛和麦克唐纳群岛",
					"Armenia": "亚美尼亚",
					"Falkland Is.": "马尔维纳斯群岛（福克兰）",
					"Ukraine": "乌克兰",
					"Ghana": "加纳",
					"Tonga": "汤加",
					"Finland": "芬兰",
					"Libya": "利比亚",
					"Dominican Rep.": "多米尼加",
					"Indonesia": "印度尼西亚",
					"Mauritius": "毛里求斯",
					"Eq. Guinea": "赤道几内亚",
					"Sweden": "瑞典",
					"Vietnam": "越南",
					"Mali": "马里",
					"Russia": "俄罗斯",
					"Bulgaria": "保加利亚",
					"United States": "美国",
					"Romania": "罗马尼亚",
					"Angola": "安哥拉",
					"Chad": "乍得",
					"South Africa": "南非",
					"Fiji": "斐济",
					"Liechtenstein": "列支敦士登",
					"Malaysia": "马来西亚",
					"Austria": "奥地利",
					"Mozambique": "莫桑比克",
					"Uganda": "乌干达",
					"Japan": "日本",
					"Niger": "尼日尔",
					"Brazil": "巴西",
					"Kuwait": "科威特",
					"Panama": "巴拿马",
					"Guyana": "圭亚那",
					"Madagascar": "马达加斯加",
					"Luxembourg": "卢森堡",
					"American Samoa": "美属萨摩亚",
					"Andorra": "安道尔",
					"Ireland": "爱尔兰",
					"Italy": "意大利",
					"Nigeria": "尼日利亚",
					"Turks and Caicos Is.": "特克斯和凯科斯群岛",
					"Ecuador": "厄瓜多尔",
					"U.S. Virgin Is.": "美属维尔京群岛",
					"Brunei": "文莱",
					"Australia": "澳大利亚",
					"Iran": "伊朗",
					"Algeria": "阿尔及利亚",
					"El Salvador": "萨尔瓦多",
					"C?te d'Ivoire": "科特迪瓦",
					"Chile": "智利",
					"Puerto Rico": "波多黎各",
					"Belgium": "比利时",
					"Thailand": "泰国",
					"Haiti": "海地",
					"Iraq": "伊拉克",
					"S?o Tomé and Principe": "圣多美和普林西比",
					"Sierra Leone": "塞拉利昂",
					"Georgia": "格鲁吉亚",
					"Denmark": "丹麦",
					"Philippines": "菲律宾",
					"S. Geo. and S. Sandw. Is.": "南乔治亚岛和南桑威奇群岛",
					"Moldova": "摩尔多瓦",
					"Morocco": "摩洛哥",
					"Namibia": "纳米比亚",
					"Malta": "马耳他",
					"Guinea-Bissau": "几内亚比绍",
					"Kiribati": "基里巴斯",
					"Switzerland": "瑞士",
					"Grenada": "格林纳达",
					"Seychelles": "塞舌尔",
					"Portugal": "葡萄牙",
					"Estonia": "爱沙尼亚",
					"Uruguay": "乌拉圭",
					"Antigua and Barb.": "安提瓜和巴布达",
					"Lebanon": "黎巴嫩",
					"Uzbekistan": "乌兹别克斯坦",
					"Tunisia": "突尼斯",
					"Djibouti": "吉布提",
					"Greenland": "格陵兰",
					"Timor-Leste": "东帝汶",
					"Dominica": "多米尼克",
					"Colombia": "哥伦比亚",
					"Burundi": "布隆迪",
					"Bosnia and Herz.": "波斯尼亚和黑塞哥维那",
					"Cyprus": "塞浦路斯",
					"Barbados": "巴巴多斯",
					"Qatar": "卡塔尔",
					"Palau": "帕劳",
					"Bhutan": "不丹",
					"Sudan": "苏丹",
					"Nepal": "尼泊尔",
					"Micronesia": "密克罗尼西亚",
					"Bermuda": "百慕大",
					"Suriname": "苏里南",
					"Venezuela": "委内瑞拉",
					"Israel": "以色列",
					"St. Pierre and Miquelon": "圣皮埃尔和密克隆群岛",
					"Central African Rep.": "中非",
					"Iceland": "冰岛",
					"Zambia": "赞比亚",
					"Senegal": "塞内加尔",
					"Papua New Guinea": "巴布亚新几内亚",
					"Trinidad and Tobago": "特立尼达和多巴哥",
					"Zimbabwe": "津巴布韦",
					"Jordan": "约旦",
					"Gambia": "冈比亚",
					"Kazakhstan": "哈萨克斯坦",
					"Poland": "波兰",
					"Eritrea": "厄立特里亚",
					"Kyrgyzstan": "吉尔吉斯斯坦",
					"Montserrat": "蒙特塞拉特",
					"New Caledonia": "新喀里多尼亚",
					"Macedonia": "马其顿",
					"Paraguay": "巴拉圭",
					"Latvia": "拉脱维亚",
					"Hungary": "匈牙利",
					"Syria": "叙利亚",
					"Honduras": "洪都拉斯",
					"Myanmar": "缅甸",
					"Mexico": "墨西哥",
					"Egypt": "埃及",
					"Nicaragua": "尼加拉瓜",
					"Cuba": "古巴",
					"Serbia": "塞尔维亚",
					"Comoros": "科摩罗",
					"United Kingdom": "英国",
					"Fr. S. Antarctic Lands": "南极洲",
					"Congo": "刚果（布）",
					"Greece": "希腊",
					"Sri Lanka": "斯里兰卡",
					"Croatia": "克罗地亚",
					"Botswana": "博茨瓦纳",
					"Siachen Glacier": "锡亚琴冰川地区"
				}
				
				
				var newData = []
				
				for (var a in data.world_map_dict) {
					for (var s in dataToEn) {
						if (dataToEn[s].indexOf(a) > -1) {
							newData.push({
								name: s,
								nameToCH: a,
								value: data.world_map_dict[a].attack_count,
								
							})
						}
					}
				}
				
				
				var countrys = function(country, data, name) {
					return {
						name: country,
						value: name,
						data: data,
						itemStyle: {
							borderColor: '#918597',
							areaColor: "rgba(0,0,0,0)",
						},
				
						label: {
							show: true,
							formatter: function(params) {
								return params.data.data.nameToCH;
							},
							color: 'red',
							fontSize: 10,
						},
				
						emphasis: {
							itemStyle: {
								areaColor: 'rgba(0,0,0,0)'
							},
							label: {
								show: false,
								color: '#333',
							}
						},
						// zlevel:11
					}
				
				}
				
				var countryData = [];
				for (var i = 0; i < newData.length; i++) {
					countryData.push(countrys(newData[i].name, newData[i], newData[i].value));
				}
				
				console.log(countryData)
				
				optionworld = {
					backgroundColor: '#fff',
					title: {
						text: '',
						left: 'center'
					},
					roam: true,
				
					visualMap: {
						orient: 'horizontal',
				
						bottom: 30,
						calculable: false,
				
						inRange: {
							
							color: ['#1BC8CC'] // 蓝绿
						},
					   show:false
					},
					series: [{
						type: 'map',
						mapType: 'world',
						itemStyle: {
							areaColor: 'rgba(0,0,0,0)',
							borderColor: '#72a8ff',
							normal: {
								areaColor: '#092240',
		
							},
						},
						emphasis: {
							itemStyle: {
								areaColor: 'rgba(0,0,0,0)'
							},
							label: {
								normal: {
									show: false,
				
								},
				
							}
						},
						label: {
							normal: {
								show: false,
				
							}
						},
						data: countryData
					}]
				};
				
				myChartworld.setOption(optionworld);
			},
			drowmap(province) {
				var that = this
				var datajson=[]
				var myChart = echarts.init(document.getElementById('main'));

				var mapName = 'china'
				var data = [
					{ name: "北京", value: 199 },
					{ name: "天津", value: 42 },
					{ name: "河北", value: 102 },
					{ name: "山西", value: 81 },
					{ name: "内蒙古", value: 47 },
					{ name: "辽宁", value: 67 },
					{ name: "吉林", value: 82 },
					{ name: "黑龙江", value: 123 },
					{ name: "上海", value: 24 },
					{ name: "江苏", value: 92 },
					{ name: "浙江", value: 114 },
					{ name: "安徽", value: 109 },
					{ name: "福建", value: 116 },
					{ name: "江西", value: 91 },
					{ name: "山东", value: 119 },
					{ name: "河南", value: 137 },
					{ name: "湖北", value: 116 },
					{ name: "湖南", value: 114 },
					{ name: "重庆", value: 91 },
					{ name: "四川", value: 125 },
					{ name: "贵州", value: 62 },
					{ name: "云南", value: 83 },
					{ name: "西藏", value: 9 },
					{ name: "陕西", value: 80 },
					{ name: "甘肃", value: 56 },
					{ name: "青海", value: 10 },
					{ name: "宁夏", value: 18 },
					{ name: "新疆", value: 180 },
					{ name: "广东", value: 123 },
					{ name: "广西", value: 59 },
					{ name: "海南", value: 14 },
					{ name: "香港", value: 21 },
				];
				//筛选省份数据
				for(var i=0;i<province.length;i++){
					for(var j=0;j<data.length;j++){
						if(province[i].province==data[j].name){
							datajson.push(data[j])

						}
					}
				}
				console.log(datajson)
				var geoCoordMap = {};
				var toolTipData = [
					{ name: "北京", value: [{ name: "科技人才总数", value: 95 }, { name: "理科", value: 82 }] },
					{ name: "天津", value: [{ name: "文科", value: 22 }, { name: "理科", value: 20 }] },
					{ name: "河北", value: [{ name: "文科", value: 60 }, { name: "理科", value: 42 }] },
					{ name: "山西", value: [{ name: "文科", value: 40 }, { name: "理科", value: 41 }] },
					{ name: "内蒙古", value: [{ name: "文科", value: 23 }, { name: "理科", value: 24 }] },
					{ name: "辽宁", value: [{ name: "文科", value: 39 }, { name: "理科", value: 28 }] },
					{ name: "吉林", value: [{ name: "文科", value: 41 }, { name: "理科", value: 41 }] },
					{ name: "黑龙江", value: [{ name: "文科", value: 35 }, { name: "理科", value: 31 }] },
					{ name: "上海", value: [{ name: "文科", value: 12 }, { name: "理科", value: 12 }] },
					{ name: "江苏", value: [{ name: "文科", value: 47 }, { name: "理科", value: 45 }] },
					{ name: "浙江", value: [{ name: "文科", value: 57 }, { name: "理科", value: 57 }] },
					{ name: "安徽", value: [{ name: "文科", value: 57 }, { name: "理科", value: 52 }] },
					{ name: "福建", value: [{ name: "文科", value: 59 }, { name: "理科", value: 57 }] },
					{ name: "江西", value: [{ name: "文科", value: 49 }, { name: "理科", value: 42 }] },
					{ name: "山东", value: [{ name: "文科", value: 67 }, { name: "理科", value: 52 }] },
					{ name: "河南", value: [{ name: "文科", value: 69 }, { name: "理科", value: 68 }] },
					{ name: "湖北", value: [{ name: "文科", value: 60 }, { name: "理科", value: 56 }] },
					{ name: "湖南", value: [{ name: "文科", value: 62 }, { name: "理科", value: 52 }] },
					{ name: "重庆", value: [{ name: "文科", value: 47 }, { name: "理科", value: 44 }] },
					{ name: "四川", value: [{ name: "文科", value: 65 }, { name: "理科", value: 60 }] },
					{ name: "贵州", value: [{ name: "文科", value: 32 }, { name: "理科", value: 30 }] },
					{ name: "云南", value: [{ name: "文科", value: 42 }, { name: "理科", value: 41 }] },
					{ name: "西藏", value: [{ name: "文科", value: 5 }, { name: "理科", value: 4 }] },
					{ name: "陕西", value: [{ name: "文科", value: 38 }, { name: "理科", value: 42 }] },
					{ name: "甘肃", value: [{ name: "文科", value: 28 }, { name: "理科", value: 28 }] },
					{ name: "青海", value: [{ name: "文科", value: 5 }, { name: "理科", value: 5 }] },
					{ name: "宁夏", value: [{ name: "文科", value: 10 }, { name: "理科", value: 8 }] },
					{ name: "新疆", value: [{ name: "文科", value: 36 }, { name: "理科", value: 31 }] },
					{ name: "广东", value: [{ name: "文科", value: 63 }, { name: "理科", value: 60 }] },
					{ name: "广西", value: [{ name: "文科", value: 29 }, { name: "理科", value: 30 }] },
					{ name: "海南", value: [{ name: "文科", value: 8 }, { name: "理科", value: 6 }] },
				];

				/*获取地图数据*/
				myChart.showLoading();
				var mapFeatures = echarts.getMap(mapName).geoJson.features;
				myChart.hideLoading();
				mapFeatures.forEach(function (v) {
					// 地区名称
					var name = v.properties.name;
					// 地区经纬度
					geoCoordMap[name] = v.properties.cp;

				});
				
				console.log(data)
				console.log(toolTipData)
				var max = 480,
					min = 9; // todo 
				var maxSize4Pin = 100,
					minSize4Pin = 20;

				var convertData = function (data) {
					var res = [];
					for (var i = 0; i < data.length; i++) {
						var geoCoord = geoCoordMap[data[i].name];
						if (geoCoord) {
							res.push({
								name: data[i].name,
								value: geoCoord.concat(data[i].value),
							});
						}
					}
					return res;
				};
				console.log(convertData(data.sort(function (a, b) {
					return b.value - a.value;
				}).slice(0, 5)))
				option = {

					visualMap: {
						show: false,
						min: 0,
						max: 200,
						left: '10%',
						top: 'bottom',
						calculable: true,
						seriesIndex: [1],
						inRange: {
							color: ['#04387b', '#467bc0'] // 蓝绿
						}
					},




					geo: {
						show: true,
						map: mapName,
						zoom: 1,  
						label: {
							normal: {
								show: false
							},
							emphasis: {
								show: false,
							}
						},
						roam: false,
						itemStyle: {
							normal: {
								areaColor: '#023677',
								borderColor: '#1180c7',
							},
							emphasis: {
								areaColor: '#4499d0',
							}
						}
					},
					series: [{
						name: '散点',
						type: 'scatter',
						coordinateSystem: 'geo',
						data: [],
						label: {
							normal: {
								formatter: '{b}',
								position: 'right',
								show: false
							},
							emphasis: {
								show: true
							}
						},
						itemStyle: {
							normal: {
								color: '#fff'
							}
						}
					},

					{
						name: 'iphone4',
						type: 'map',
						zoom: 1,   
						mapType: 'china',
						roam: false,
						itemStyle: {
							normal: {
								label: {
									show: false
								},
								borderColor: 'rgba(147, 235, 248, 1)',
								borderWidth: 1,
								areaColor: {
									type: 'radial',
									x: 0.5,
									y: 0.5,
									r: 0.8,
									colorStops: [{
										offset: 0,
										color: 'rgba(147, 235, 248, 0)' // 0% 处的颜色
									}, {
										offset: 1,
										color: 'rgba(147, 235, 248, .2)' // 100% 处的颜色
									}],
									globalCoord: false // 缺省为 false
								},
								shadowColor: 'rgba(128, 217, 248, 1)',
								// shadowColor: 'rgba(255, 255, 255, 1)',
								shadowOffsetX: -2,
								shadowOffsetY: 2,
								shadowBlur: 10
							},
							emphasis: {
								label: {
									show: true
								}
							}
						},
						data: datajson
					},
					{
						name: '点',
						type: 'scatter',
						coordinateSystem: 'geo',
						zlevel: 6,
					},
					{
						name: 'Top 5',
						type: 'effectScatter',
						coordinateSystem: 'geo',
						data: [],
						symbolSize: function (val) {
							return val[2] / 10;
						},
						showEffectOn: 'render',
						rippleEffect: {
							brushType: 'stroke'
						},
						hoverAnimation: true,
						label: {
							normal: {
								formatter: '{b}',
								position: 'right',
								show: false
							}
						},
						itemStyle: {
							normal: {
								color: 'yellow',
								shadowBlur: 10,
								shadowColor: 'yellow'
							}
						},
						zlevel: 1
					},

					]
				};

				var count = 0;
				var timeTicket = null;
				var dataLength = option.series[1].data.length; //循环轮播几个图
				timeTicket && clearInterval(timeTicket);
				timeTicket = setInterval(function () {
					var index1 = (count) % dataLength+((count) % dataLength*1)
					var index2 = (count) % dataLength+1+((count) % dataLength*1)
					myChart.dispatchAction({
						type: 'downplay',
						seriesIndex: 1,
					});
					myChart.dispatchAction({
						type: 'highlight',
						seriesIndex: 1,
						dataIndex: index1
					});
					myChart.dispatchAction({
						type: 'highlight',
						seriesIndex: 1,
						dataIndex: index2
					});

					that.isshow = false
					setTimeout(function(){
						that.isshow = true
						setTimeout(function(){
							that.startmarquee(20,20,1500);
							that.startmarquee2(20,20,1500)
						},1)
						
					},1)
					count++;
					if(index2 == datajson.length-1 ||index1 == datajson.length-1){
						count = 0
					}else{
						that.title1 = datajson[index1].name
						that.title2 = datajson[index2].name
						for(var i=0;i<province.length;i++){
							if(province[i].province==datajson[index1].name){
								that.scrollList1 = province[i].classNameList
							}
							if(province[i].province==datajson[index2].name){
								that.scrollList2 = province[i].classNameList
							}
						}
						console.log(that.scrollList1)
						console.log(that.scrollList2)
					}
				}, 10000);


				myChart.setOption(option);
			},
		 	startmarquee(lh,speed,delay) {//lh-高度，speed 时间，
                var bFlag = false;
                var obj = document.getElementById("transverseRoll");//获取滚动元素
                obj.innerHTML += obj.innerHTML;//滚动元素的内容为2倍自己的内容
                obj.style.marginTop = 0;
                obj.onmouseover=function(){ bFlag = true;}//鼠标移入
                obj.onmouseout=function(){ bFlag = false;}//鼠标移出
                function start(){
                    clearInterval(this.timer);
                    this.timer = setInterval(scrolling,speed);
                    if(!bFlag) obj.style.marginTop=parseInt(obj.style.marginTop) - 1 + "px";
                    //console.log('setTimeout:',obj.style.marginTop);
                }
                function scrolling(){
                    if(parseInt(obj.style.marginTop) % lh != 0){  
                        obj.style.marginTop = parseInt(obj.style.marginTop) - 1 + "px";//滚动物体的marginTop >=  它的滚动高度/2   比如   |-40| >= 80/2    →→→→→→→→→→      0 % 20 = 0
						if(Math.abs(parseInt(obj.style.marginTop)) ==0 ) obj.style.marginTop = 0;
						
                    }else{
						
                        clearInterval(this.timer);
                        clearTimeout(this._timer);
						setTimeout(start,delay);
                    }
                }
                clearTimeout(this._timer);
                setTimeout(start,delay);
			},
			startmarquee2(lh,speed,delay) {//lh-高度，speed 时间，
                var bFlag = false;
                var obj = document.getElementById("transverseRoll2");//获取滚动元素
                obj.innerHTML += obj.innerHTML;//滚动元素的内容为2倍自己的内容
                obj.style.marginTop = 0;
                obj.onmouseover=function(){ bFlag = true;}//鼠标移入
                obj.onmouseout=function(){ bFlag = false;}//鼠标移出
                function start(){
                    clearInterval(this.timer1);
                    this.timer1 = setInterval(scrolling,speed);
                    if(!bFlag) obj.style.marginTop=parseInt(obj.style.marginTop) - 1 + "px";
                    //console.log('setTimeout:',obj.style.marginTop);
                }
                function scrolling(){
                    if(parseInt(obj.style.marginTop) % lh != 0){  
                        obj.style.marginTop = parseInt(obj.style.marginTop) - 1 + "px";//滚动物体的marginTop >=  它的滚动高度/2   比如   |-40| >= 80/2    →→→→→→→→→→      0 % 20 = 0
						if(Math.abs(parseInt(obj.style.marginTop)) ==0 ) obj.style.marginTop = 0;
						
                    }else{
						
                        clearInterval(this.timer1);
                        clearTimeout(this._timer1);
						setTimeout(start,delay);
                    }
                }
                clearTimeout(this._timer);
                setTimeout(start,delay);
			},
			endmarquee(lh,speed,delay) {//lh-高度，speed 时间，
				var that = this
                var bFlag = false;
                var obj = document.getElementById("transverseRoll2");//获取滚动元素
				obj.innerHTML += obj.innerHTML;//滚动元素的内容为2倍自己的内容
				obj.style.marginTop = - 20*(that.scrollList.length-2) +'px';
				console.log(obj.style.marginTop)
                obj.onmouseover=function(){ bFlag = true;}//鼠标移入
                obj.onmouseout=function(){ bFlag = false;}//鼠标移出
                function start(){
                    clearInterval(this.timer1);
                    this.timer1 = setInterval(scrolling,speed);
                    if(!bFlag) obj.style.marginTop=parseInt(obj.style.marginTop) + 1 + "px";
                    //console.log('setTimeout:',obj.style.marginTop);
                }
                function scrolling(){
		
                    if(parseInt(obj.style.marginTop) % lh != 0){  
                        obj.style.marginTop = parseInt(obj.style.marginTop) + 1 + "px";//滚动物体的marginTop >=  它的滚动高度/2   比如   |-40| >= 80/2    →→→→→→→→→→      0 % 20 = 0
                        if(Math.abs(parseInt(obj.style.marginTop))==0 ) obj.style.marginTop = - 20*(that.scrollList.length-2) +'px';
                    }else{
                        clearInterval(this.timer1);
                        clearTimeout(this._timer1);
                         setTimeout(start,delay);
                    }
				}
                clearTimeout(this._timer1);
                setTimeout(start,delay);
			},
		getdata(){
			var that = this
			$.ajax({
                url: 'http://47.105.195.101:9090/getSecondPageData',
                dataType: 'json',
                method: 'post',
                data: '',
                success: function(data) {
					console.log(data)
					that.newJoinCount = data.newJoinCount
					that.companyCount = data.companyCount
					that.trainCount = data.trainCount
					for(var i=0;i<data.classList.length;i++){
						if(data.classList[i].CLASSIFICATION=='领导力'){
								that.num1 = data.classList[i].COUNT
						}else if(data.classList[i].CLASSIFICATION=='专业技能'){
								that.num2 = data.classList[i].COUNT
						}else if(data.classList[i].CLASSIFICATION=='综合定制'){
								that.num3 = data.classList[i].COUNT
						}else if(data.classList[i].CLASSIFICATION=='通用技能'){
								that.num4 = data.classList[i].COUNT
						}else if(data.classList[i].CLASSIFICATION=='新员工'){
								that.num5 = data.classList[i].COUNT
						}
					}
					that.drowMapworld(data.countryList)
					that.drowmap(data.calssNameList)
					that.drowpie(data.sysList,data.proportionList)
					that.drowbar(data.yearList,data.trainScale)
					
                }
            })
		}	
		}

	})
</script>

<style>
	html,
	body {
		height: 100%
	}

	* {
		margin: 0;
		padding: 0
	}

	#app {
		width: 100%;
		height: 100%;
	}

	.content {
		padding: 20px 20px;
		display: flex
	}

	.left_content {
		width: 30%;

	}

	.center_content {
		width: 40%;
	}

	.center_content2 {
		height: 200px;
		display: flex;
		padding-left: 20px;
		padding-right: 20px
	}

	.scroll_1{
		flex: 1;
		border: 1px solid #f00;

	}

	.scroll_2 {
		flex: 1;
		margin-left: 20px;
		border: 1px solid #f00;
	}

	.right_content {
		width: 30%;
	}

	.left_content1 {
		height: 100px;
		text-align: center;
		border: 1px solid #f00
	}

	.left_content2 {
		height: 100px;
		margin-top: 50px;
		text-align: center;
		border: 1px solid #f00
	}

	.left_content3 {
		height: 100px;
		margin-top: 50px;
		text-align: center;
		border: 1px solid #f00
	}

	.left_content4 {
		height: 200px;
		margin-top: 100px;
		border: 1px solid #f00;
	}

	.center_map {
		height: 485px;
		padding: 10px
	}

	.right_1 {
		height: 180px;
		border: 1px solid #f00;
		padding: 10px
	}

	.right_2 {
		height: 180px;
		border: 1px solid #f00;
		margin-top: 50px;
		padding: 10px
	}

	.right_3 {
		height: 180px;
		border: 1px solid #f00;
		margin-top: 50px;
		padding: 10px 10px 10px 10px
	}

	.right_3_title {
		text-align: center;
		font-size: 18px;
		font-weight: bold;
	}

	.right_3_center {
		height: 60px;

		margin-top: 10px;
		position: relative;
	}

	.right_3_bottom {
		height: 60px;

		margin-top: 10px;
		position: relative;
	}

	.one {
		width: 60px;
		height: 50px;
		border-radius: 50%;
		background: green;
		position: absolute;
		left: 60px;
		font-size:12px;
		text-align:center;
		padding-top:10px;
		color:#fff
	}

	.two {
		width: 100px;
		height: 80px;
		border-radius: 50%;
		background: red;
		position: absolute;
		left: 160px;
		text-align:center;
		padding-top:20px;
		color:#fff
	}

	.three {
		width: 60px;
		height: 50px;
		border-radius: 50%;
		background: gray;
		position: absolute;
		left: 300px;
		font-size:12px;
		padding-top:10px;
		text-align:center;
		color:#fff
	}

	.four {
		width: 60px;
		height: 50px;
		border-radius: 50%;
		background: #000088;
		position: absolute;
		left: 100px;
		font-size:12px;
		padding-top:10px;
		text-align:center;
		color:#fff
	}

	.five {
		width: 60px;
		height: 50px;
		border-radius: 50%;
		background: orange;
		position: absolute;
		left: 260px;
		font-size:12px;
		padding-top:10px;
		text-align:center;
		color:#fff
	}

	.el-carousel__item h3 {
		color: #475669;
		font-size: 14px;
		opacity: 0.75;
		line-height: 200px;
		margin: 0;
	}

	.el-carousel__item:nth-child(2n) {
		background-color: #99a9bf;
	}

	.el-carousel__item:nth-child(2n+1) {
		background-color: #d3dce6;
	}




        .box{
            margin:20px auto;
            width:170px;
            height:84px;
            line-height:20px;
            overflow:hidden;
		}
		.scroll_title{
			font-size:16px;
			color:#000;
			text-align: center;
			margin-top:20px
		}
        .box .contentscroll{
            list-style-type:none;
            margin:0;padding:0;
			width:100%;
			text-align:center
        }
        /*系统支持ie8就选line-height:16px;，但不支持opera 否则选line-height:20px;*/
        .box .contentscroll a{
            font-size:12px; 
            line-height:16px;
        }


		.box .contentscroll2{
            list-style-type:none;
            margin:0;padding:0;
			width:100%;
			text-align:center
        }
</style>

</html>